/*Importar las variables
Typografias, importdios
Primero variables
Segundo mixins
Tercero Reset
Header
Index
Footer
*/
/*COLORES*
#C4D7E0
black
#545454;
#A2CFE4;
#48b0e0;
white;
#ffffff;
#F8F9D7;
*/
/*PARA TIPOGRAFIAS*/
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,600&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.barra-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #C4D7E0; }
  .barra-nav .logo {
    padding-left: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .barra-nav .social-media {
    margin-top: 5rem;
    margin-right: 1.5rem; }

.navbar-brand {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif; }

.nav-link {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif; }

.navbar {
  margin-top: 5rem; }

.nav-item {
  padding-left: 3rem;
  padding-right: 3rem; }

.separador {
  background-color: #545454;
  height: 1rem; }

.main-back {
  background-image: url(file:///G:/CODER/proyecto-coder-v2/assets/helados-backgroundv2.jpg);
  background-repeat: repeat-y;
  width: 100%;
  background-size: 100%; }
  .main-back .main-index section {
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .main-back .main-index section div {
      width: 95%; }
      .main-back .main-index section div h1 {
        font-size: 8rem;
        color: #A2CFE4;
        margin-top: 7rem;
        font-family: 'Crimson Text', serif; }
      .main-back .main-index section div h2 {
        font-size: 2rem;
        font-family: 'Poppins', sans-serif;
        color: white;
        margin-bottom: 5rem;
        margin-top: 3rem; }
  .main-back div h3 {
    font-family: 'Crimson Text', serif;
    font-size: 4.8rem;
    color: #ffffff;
    text-align: center;
    margin-top: 5rem;
    padding-bottom: 5rem; }

.container-carrousel {
  width: 60%;
  justify-content: center;
  padding-top: 3rem; }

.grid-contacto {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 85vh;
  align-items: center;
  justify-items: center; }
  .grid-contacto section div div label {
    font-size: 2rem;
    color: #A2CFE4; }

.titulo-contacto {
  padding-top: 0rem; }
  .titulo-contacto h1 {
    font-size: 8rem;
    color: #A2CFE4;
    margin-top: 2rem;
    font-family: 'Crimson Text', serif;
    text-align: center; }

.boton-form {
  font-size: 3rem;
  color: #A2CFE4;
  width: 100%;
  border-radius: 5px;
  background-color: #A2CFE4;
  color: black;
  border-color: #A2CFE4;
  font-family: 'Poppins'; }

.contact-text-botom h2 {
  font-family: 'Crimson Text', serif;
  font-size: 3rem;
  font-style: italic;
  color: white;
  text-align: center;
  margin-top: 30px; }

.contacto-img {
  padding-top: 5rem; }
  .contacto-img img {
    scale: 1.2;
    margin-left: 10rem;
    margin-top: -5rem;
    border-radius: 10px; }

.main-fabrica section div h1 {
  font-size: 8rem;
  color: #A2CFE4;
  font-family: 'Crimson Text', serif;
  padding-top: 7rem;
  text-align: center; }

.main-fabrica section div h2 {
  font-family: 'Crimson Text', serif;
  font-size: 4.8rem;
  color: #ffffff;
  text-align: center;
  margin-top: 5rem; }

.main-fabrica section div h3 {
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  color: white;
  margin-bottom: 5rem;
  margin-top: 3rem;
  text-align: center; }

.container-video {
  width: 90%;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem; }

.titulo-sabores {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: center;
  align-self: center;
  text-align: center; }
  .titulo-sabores div h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 12.8rem;
    color: #A2CFE4;
    font-weight: 700;
    text-align: center; }
  .titulo-sabores div h2 {
    font-family: 'Crimson Text', serif;
    font-size: 6.4rem;
    font-style: italic;
    color: white;
    text-align: center; }

.link-sabores a {
  background-color: #A2CFE4;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  width: 100%; }

.grid-sabores {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(2, 50vh);
  align-items: center;
  justify-items: center; }

.item1-grid {
  background-color: #A2CFE4;
  padding: 7px 7px 7px 7px;
  border-radius: 10px; }

.item2-grid {
  background-color: #A2CFE4;
  padding: 7px 7px 7px 7px;
  border-radius: 10px; }

.item3-grid {
  background-color: #A2CFE4;
  padding: 7px 7px 7px 7px;
  border-radius: 10px; }

.item4-grid {
  background-color: #A2CFE4;
  padding: 7px 7px 7px 7px;
  border-radius: 10px; }

.main-ubicacion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }
  .main-ubicacion section div h1 {
    font-size: 8rem;
    color: #A2CFE4;
    margin-top: 2rem;
    font-family: 'Crimson Text', serif;
    text-align: center; }
  .main-ubicacion section div h2 {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-bottom: 5rem;
    margin-top: 3rem;
    text-align: center; }

.seccion-promos {
  padding-bottom: 4rem; }
  .seccion-promos div h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 10rem;
    color: #A2CFE4;
    font-weight: 700;
    text-align: center;
    margin-top: 0rem;
    padding-bottom: 0rem; }
  .seccion-promos div p {
    font-family: 'Crimson Text', serif;
    font-size: 6.4rem;
    font-style: italic;
    color: white;
    text-align: center; }
  .seccion-promos div img {
    border-radius: 10px; }

footer {
  margin-top: -5px; }

.footer-flex {
  background-color: #F8F9D7;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  .footer-flex div img {
    margin-right: 1rem; }
  .footer-flex section div ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none; }
    .footer-flex section div ul li {
      margin-top: 2rem;
      margin-bottom: 2rem;
      padding-left: 2rem;
      font-family: 'Poppins', sans-serif;
      font-size: 1.6rem; }
      .footer-flex section div ul li img {
        padding-right: 1rem; }
      .footer-flex section div ul li a {
        text-decoration: none;
        color: black; }

.footer-copyright {
  background-color: #545454;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 1.4rem;
  text-align: center; }
  .footer-copyright p {
    margin-bottom: 0; }

@media (max-width: 1024px) {
  .item1-grid {
    width: 90%; }
    .item1-grid img {
      width: 100%; }
  .item2-grid {
    width: 90%; }
    .item2-grid img {
      width: 100%; }
  .item3-grid {
    width: 90%; }
    .item3-grid img {
      width: 100%; }
  .item4-grid {
    width: 90%; }
    .item4-grid img {
      width: 100%; } }

@media (max-width: 768px) {
  .navbar-nav {
    align-items: center; }
  .footer-flex {
    background-color: #F8F9D7;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    .footer-flex section div ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      list-style: none; }
      .footer-flex section div ul li {
        margin-top: 2rem;
        margin-bottom: 0rem;
        padding-left: 0rem;
        font-family: 'Poppins', sans-serif;
        font-size: 1.6rem; }
  .footer-logos {
    padding-bottom: 1rem; } }

/*FABRICA*/
.main-fabrica section div h3 {
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  color: white;
  margin-bottom: 0rem;
  margin-top: 3rem;
  text-align: center;
  padding-bottom: 0; }

/*CONTACTO*/
.grid-contacto section {
  padding-left: 3rem; }

.contacto-img img {
  scale: 1;
  margin-left: 3rem;
  margin-top: -5rem;
  border-radius: 10px; }
