.barra-nav{
    @include flex (row,wrap,space-between,center);
    background-color: $background-nav;
    .logo{
        padding-left: 5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .social-media{
        margin-top: 5rem;
        margin-right: 1.5rem;
    }
    
}

.navbar-brand{
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}

.nav-link{
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    margin-top: 5rem
}

.nav-item{
    padding-left: 5rem;
    padding-right: 5rem;
}

.separador{
    background-color: $background-separador;
    height: 1rem;
}