.main-back{
    background-image: url(../../assets/helados-backgroundv2.png);
    background-repeat: repeat-y;
    width: 100%;
    background-size: 150%;
    section{
        @include flex (row,none,center,center);
        text-align: center;
        div{
            h1{
                font-size: 6.4rem;
                color: #A2CFE4;
                margin-top: 7rem;
            }
            h2{
                font-size: 2rem;
                color: white;
                margin-bottom: 5rem;
                margin-top: 3rem;
            }
        }
    }
    div{
        h3{
            font-size: 4.8rem;
            color: #ffffff;
            text-align: center;
            margin-top: 10rem;
            padding-bottom: 10rem;
        }
    }
}

.container-carrousel{
    width: 60%;
    justify-content: center;
    padding-top: 3rem;
}