.titulo-sabores{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: center;
    align-self: center;
    text-align: center;
    div{
    h1{
        font-family: 'Poppins', sans-serif;
        font-size: 12.8rem;
        color: #A2CFE4;
        font-weight: 700;
        text-align: center;
    }
    h2{
        font-family: 'Crimson Text', serif;
        font-size: 6.4rem;
        font-style: italic;
        color: white;
        text-align: center;
    }
}
}

.link-sabores{
    a{
        background-color: #A2CFE4;
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        font-weight: 700;
        border-radius: 10px;
        text-decoration: none;
        color: black;
        width: 100%;
    }
}


.grid-sabores{
    @include grid (repeat(3,2fr), repeat(2,50vh));
    align-items:center;
    justify-items: center;
}

.item1-grid{
    background-color: #A2CFE4;
    padding: 7px 7px 7px 7px;
    border-radius: 10px;
}

.item2-grid{
    background-color: #A2CFE4;
    padding: 7px 7px 7px 7px;
    border-radius: 10px;
}

.item3-grid{
    background-color: #A2CFE4;
    padding: 7px 7px 7px 7px;
    border-radius: 10px;
}

.item4-grid{
    background-color: #A2CFE4;
    padding: 7px 7px 7px 7px;
    border-radius: 10px;
}