@media (max-width: 768px){
.navbar-nav{
    align-items: center;
    }


.footer-flex {
    background-color: #F8F9D7;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    section{
        div{
            ul{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                list-style: none;
                li{
                    margin-top: 2rem;
                    margin-bottom: 0rem;
                    padding-left: 0rem;
                    font-family: 'Poppins', sans-serif;
                    font-size: 1.6rem;
                }
            }
        }
    }
}


.footer-logos{
    padding-bottom: 1rem;
}
}

/*index html*/

.container-carrousel {
    width: 90%;
    justify-content: center;
    padding-top: 3rem;
}

/*FABRICA*/
.main-fabrica section div h3{
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-bottom: 0rem;
    margin-top: 3rem;
    text-align: center;
    padding-bottom: 0;
}

/*CONTACTO*/

.grid-contacto{
    section{
        padding-left: 3rem;
    }
}

.contacto-img img {
    scale: 1;
    margin-left: 3rem;
    margin-top: -5rem;
    border-radius: 10px;
}