@media (max-width: 904px){
    /*footer*/
    .footer-flex {
        background-color: #F8F9D7;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .footer-logos{
        
            padding-bottom: 1rem;
            
    }

    }