@media (max-width: 375px){
/*FOOTER*/
.footer-flex{
    section{
        div{
            img{
                margin-right: 0.5rem;
            }
            ul{
                li {
                margin-top: 2rem;
                margin-bottom: 0rem;
                padding-left: 0rem;
                font-family: 'Poppins', sans-serif;
                font-size: 1.4rem;
                img{
                    padding-right: 0rem;
                }
                }
            }
        }
    }
}

/*HTML FABRICA*/
.container-video {
    .video-fabrica {
    width: 35rem;
    height: 40rem;
    }
}

/*HTML SABORES*/

.grid-sabores {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 50vh);
    align-items: center;
    justify-items: center;
}

/*HTML UBICACION*/
    .main-ubicacion{
        section {
            div {
                h2 {
                    font-size: 1.6rem;
                    font-family: 'Poppins', sans-serif;
                    color: white;
                    margin-bottom: 5rem;
                    margin-top: 3rem;
                    text-align: center;
                }
            }
        }
    }

    .iframe-ubicacion {
        width: 320px;
        height: 320px;
    }

/*HTML CONTACTO*/

.grid-contacto{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 92vh 100vh;
        align-items: center;
        justify-items: center;
    section {
    padding-left: 1rem;
    padding-right: none;
    }
}
.titulo-contacto h1 {
    font-size: 7rem;
    color: #A2CFE4;
    margin-top: 2rem;
    font-family: 'Crimson Text', serif;
    text-align: center;

}

}

