@media (max-width: 320px){

/*FOOTER*/
.footer-flex{
    section{
        div{
            img{
                margin-right: 0.5rem;
            }
            ul{
                li {
                margin-top: 2rem;
                margin-bottom: 0rem;
                padding-left: 0rem;
                font-family: 'Poppins', sans-serif;
                font-size: 1.4rem;
                img{
                    padding-right: 0rem;
                }
                }
            }
        }
    }
}

/*HTML FABRICA*/
.main-fabrica{
    section{
        div{
            h1{
    font-size: 7rem;
    color: #A2CFE4;
    font-family: 'Crimson Text', serif;
    padding-top: 5rem;
    text-align: center;
            }
        }
    }
}

.container-video{
    .video-fabrica {
    width: 30rem;
    height: 30rem;
    }
}

/*HTML UBICACION*/

.main-ubicacion{
    section{
        div{
            h2 {
            font-size: 1.5rem;
            font-family: 'Poppins', sans-serif;
            color: white;
            margin-bottom: 5rem;
            margin-top: 3rem;
            text-align: center;
            }
        }
    }
}

.iframe-ubicacion {
    width: 312px;
    height: 350px;
}

/*HTML CONTACTO*/
.grid-contacto {
    display: grid;
    grid-template-columns: 32rem;
    grid-template-rows: 80vh 80vh;
    align-items: center;
    justify-items: center;
}

.titulo-contacto{
    h1 {
    font-size: 6.0rem;
    color: #A2CFE4;
    margin-top: 2rem;
    font-family: 'Crimson Text', serif;
    text-align: center;
    }
}
}