@media (max-width: 1024px){
.item1-grid {
    width: 90%;
    img{
        width: 100%;
    }
}
.item2-grid {
    width: 90%;
    img{
        width: 100%;
    }
}
.item3-grid {
    width: 90%;
    img{
        width: 100%;
    }
}
.item4-grid {
    width: 90%;
    img{
        width: 100%;
    }
}
}